# Byte-compiled / optimized / DLL files
__pycache__/

# Ignore .venv directory
.venv/

# Ignore data files/directories
data

# Archive files
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.Z
*.lz
*.lzma
*.lzo
*.rz
*.sz
*.dz

# PyCharm files
.idea/

# VSCode files
.vscode/

.DS_Store

# Ignore model files
*.keras
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib
*.pt
*.pth
*.ckpt
*.pb
*.tflite
*.onnx
*.model
*.bin
*.safetensors
*.msgpack
*.dill
*.sav
*.dump
*.json.gz
*.weights
*.params
*.npz
*.npy
*.mat
*.mlmodel
*.pmml
*.bst
*.xgb
*.lgb
*.catboost
*.cbm
*.sklearn
*.torch
*.jit
*.trace
*.script
*.engine
*.plan
*.uff
*.wts